<i>views/helloWorld/index.hbs</i>

<div style="border: 1px solid red">
  <h2>Server side rendered component</h2>
  {{>helloWorld/template}}
</div>

<hr>

<div style="border: 1px solid chartreuse">
  <h2>React rendered component</h2>
  {{>reactHelloWorld/template}}
</div>

